<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Name Letters</title>
</head>

<body>
  <% if (locals.letters ) { %>
    <h1>There Are <%= letters %> Letters on your name
        <% } else { %>
          <h1>Insert Your Name Here</h1>
          <% }%>
    </h1>

    <form action="/submit" method="POST">
      <input type="text" name="fName" placeholder="First name">
      <input type="text" name="lName" placeholder="Last name">
      <input type="submit" value="OK">
    </form>
</body>

</html>