<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>

<body>
    <% if (day===0 || day===6 ) { %>
        <h1>Hey, It's a Weekend. it's Time to Work Hard</h1>
        <% } else { %>
            <h1>Hey, It's a Weekday. it's Time to Have Fun</h1>
            <%} %>

</body>

</html>